.dictionary {
  background: white;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 10px 10px rgb(0 0 0 10%);
  margin: 20px 0;
}

.dictionary h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.dictionary input {
  width: 100%;
  border-radius: 6px;
  padding: 6px 10px;
  color: #222831;
  border: 1px solid #f2f2f2;
}

.dictionary .hint {
  font-size: 10px;
  margin-top: 5px;
}
